/* 
.right-box{
    max-width: 300px;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

@media only screen and (min-width: 420px) {
    .right-box{
        max-width: 400px;
        z-index: 100;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .right-box{
        max-width: 400px;
        z-index: 100;
        margin-left: auto;
        margin-right: 50px;
        padding-top: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .right-box{
        max-width: 400px;
        z-index: 100;
        margin-left: auto;
        margin-right: 50px;
        padding-top: 80px;
    }
}

.bootstrap-tagsinput{
    background-color: #FFF!important;
    background-image: none!important;
    border: 1px solid #e5e6e7!important;
    border-radius: 1px!important;
    color: inherit!important;
    display: block!important;
    padding: 6px 12px!important;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s!important;
    width: 100%!important;
} */
body {
    font-family: 'Trirong', serif !important; 
    color: #2c3e50 !important;
    /* font-family: 'Sarabun', sans-serif !important; 
    font-size: 14px !important; */
}
.breadcrumb>.active {
    color: #2c3e50 !important;
}
.table>thead>tr>th { 
    background-color: #bdc3c7 !important;
    color: #FFFFFF !important;
}
.table>tfoot>tr>th {
    padding: 5px !important;
}
.m-t-xs {
    margin-top: 20px !important;
}
.nav-header {
    border-bottom: rgba(255, 255, 255, 0.1) solid 0.1em;
}
.ftsearch {
    width: 100% !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.ftsearch::placeholder {
    font-size: 12px !important;
    font-weight: 300 !important;
}
.table-bordered {
    border: none !important;
}
.modal-body {
    padding: 20px 30px 10px !important;
}




/* .select2-container { */
    /* border: 1px #cc5965 solid !important; */
    /* height: 34px !important; */
/* } */
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #2f4050 !important;
    line-height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
    right: 3px !important;
}
.select2-selection__clear {
    display: none !important;
}




/* ==================================================================== std  */
.center{
    text-align: center;
}
.underline{
    text-decoration: underline ;
}
#grid-two-form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}
#grid-one-form{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}
.btn-lw100{
    width: 100%;
}
.form-group-mgTB{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mgBottom{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* select images type="file" */
#std_imgprefile {
    width: 200px;
    height: 200px;
    background-size: cover !important;
    display: inline-block;
    border-radius: 100px;
    margin-bottom: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border: 1px solid #000;
}
.picture_std input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 10px !important;
}
/* end select images type="file" */

.grid-three-show-subject{
    display: grid;
    grid-template-columns: auto 10%;
    grid-gap: 10px;
}
@media only screen and (min-width: 768px) {
    
.grid-two-show-subject{
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 10px;
}

}

label.error {
    /* display: none !important; */
    margin-top: 5px !important;
}

.form-control.error {
    border: 1px solid #cc5965 !important;
}

.modal-open .modal {
    background-color: rgba(255, 255, 255, 0.5) !important;
}
.modal {
    padding-top: 100px !important;
}
