/* 
.right-box{
    max-width: 300px;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

@media only screen and (min-width: 420px) {
    .right-box{
        max-width: 400px;
        z-index: 100;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .right-box{
        max-width: 400px;
        z-index: 100;
        margin-left: auto;
        margin-right: 50px;
        padding-top: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .right-box{
        max-width: 400px;
        z-index: 100;
        margin-left: auto;
        margin-right: 50px;
        padding-top: 80px;
    }
}

.bootstrap-tagsinput{
    background-color: #FFF!important;
    background-image: none!important;
    border: 1px solid #e5e6e7!important;
    border-radius: 1px!important;
    color: inherit!important;
    display: block!important;
    padding: 6px 12px!important;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s!important;
    width: 100%!important;
} */
body {
    font-family: 'Trirong', serif !important; 
    color: #2c3e50 !important;
    /* font-family: 'Sarabun', sans-serif !important; 
    font-size: 14px !important; */
}
.breadcrumb>.active {
    color: #2c3e50 !important;
}
.table>thead>tr>th { 
    background-color: #bdc3c7 !important;
    color: #FFFFFF !important;
}
.table>tfoot>tr>th {
    padding: 5px !important;
}
.m-t-xs {
    margin-top: 20px !important;
}
.nav-header {
    border-bottom: rgba(255, 255, 255, 0.1) solid 0.1em;
}
.ftsearch {
    width: 100% !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.ftsearch::placeholder {
    font-size: 12px !important;
    font-weight: 300 !important;
}
.table-bordered {
    border: none !important;
}
.modal-body {
    padding: 20px 30px 10px !important;
}

label.error {
    display: none !important;
}
.form-control.error {
    border: 1px solid #e5e6e7 !important;
}

/* .select2-container { */
    /* border: 1px #cc5965 solid !important; */
    /* height: 34px !important; */
/* } */
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #2f4050 !important;
    line-height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
    right: 3px !important;
}
.select2-selection__clear {
    display: none !important;
}




/* ==================================================================== std  */
.center{
    text-align: center;
}
#grid-two-form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}
#grid-one-form{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}
