body {
  font-family: "Trirong", serif !important;
  color: #2c3e50 !important;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 99999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 240, 241, 1);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.breadcrumb > .active {
  color: #2c3e50 !important;
}
.ibox-title {
  padding: 14px 25px 7px !important;
}
.table > thead > tr > th {
  background-color: #7f8c8d !important;
  color: #ffffff !important;
}
.table > tfoot > tr > th {
  padding: 5px !important;
}
.m-t-xs {
  margin-top: 20px !important;
}
.nav-header {
  border-bottom: rgba(255, 255, 255, 0.1) solid 0.1em;
}
.ftsearch {
  width: 100% !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.ftsearch::placeholder {
  font-size: 12px !important;
  font-weight: 300 !important;
}
.table-bordered {
  border: none !important;
}
.modal-body {
  padding: 20px 30px 10px !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #2f4050 !important;
  line-height: 35px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 6px !important;
  right: 3px !important;
}
.select2-selection__clear {
  display: none !important;
}

/* ==================================================================== switch  */

/* ==================================================================== std  */
.center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
#grid-two-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}
#grid-one-form {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}
.btn-lw100 {
  width: 100%;
}
.form-group-mgTB {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mgBottom {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* select images type="file" */
#std_imgprefile {
  width: 200px;
  height: 200px;
  background-size: cover !important;
  display: inline-block;
  border-radius: 100px;
  margin-bottom: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border: 1px solid #000;
}
.picture_std input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 10px !important;
}
/* end select images type="file" */

.grid-three-show-subject {
  display: grid;
  grid-template-columns: auto 10%;
  grid-gap: 10px;
}
.grid-three-search-subject {
  display: grid;
  grid-template-columns: auto 15%;
  grid-gap: 10px;
}
.grid-two-show-search {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}
@media only screen and (min-width: 768px) {
  .grid-two-show-subject {
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .grid-two-show-search {
    display: grid;
    grid-template-columns: 75% auto;
    grid-gap: 10px;
  }
}
label.error {
  /* display: none !important; */
  margin-top: 5px !important;
}

.form-control.error {
  border: 1px solid #cc5965 !important;
}

.modal-open .modal {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.modal {
  padding-top: 100px !important;
}

/* button */
.btn-update-profile {
  padding: 10px;
}

.select2-container {
  width: 100% !important;
}
.todo-list > li {
  background: #fff !important;
  border-left: 6px solid #16a085 !important;
  border-right: 6px solid #16a085 !important;
  margin-bottom: 5px !important;
}

.btn-primary[disabled] {
  color: #fff !important;
}
.ibox-tools a {
  color: #333 !important;
}
.timeline-item .date {
  width: 10% !important;
}
.timeline-item .content {
  width: 90% !important;
}

/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */
.onoff {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  cursor: pointer;
  width: 55px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  text-align: left !important;
}
.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #cd3c3c;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}
.onoff label:after {
  content: "ไม่ว่าง";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 10px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  z-index: 1;
}
.onoff label:before {
  content: "";
  width: 15px;
  height: 24px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.onoff input:checked + label {
  background: #378b2c;
  text-indent: 8px;
}
.onoff input:checked + label:after {
  content: "ว่าง";
  color: #fff;
}
.onoff input:checked + label:before {
  left: 37px;
}
.timecheck {
  text-align: right;
  padding-top: 15px;
}
.timecheck p {
  font-size: 14px;
}

.top-navigation .navbar-brand {
  background-color: #273c75 !important;
}
.top-navigation .nav > li > a {
  /* padding: 15px 20px; */
  color: #000 !important;
}

.tagfile ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagfile ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.tagfile ul li a {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  /* line-height: 28px; */
  padding: 3px 5px 5px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
}

.tagfile ul li a:hover {
  border: 1px solid #3498db;
  color: #3498db;
}

.badge-use {
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 5px !important;
  margin-bottom: 5px !important;
}

.row.coutomrow {
  display: flex;
  margin-bottom: 10px;
}

.row.coutomrow [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.secmeet {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  cursor: pointer;
  width: 55px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  text-align: left !important;
}
.secmeet label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #f39c12;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}
.secmeet label:before {
  content: "";
  width: 15px;
  height: 24px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.secmeet label:after {
  content: "มีนัด";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 10px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  z-index: 1;
}

.badges {
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  font-weight: 300;
  cursor: default;
  margin-bottom: 5px;
}

.tag {
  background-color: #333333;
  padding: 5px 8px;
  /* border-radius: 4px 0 0 4px; */
}

.content {
  padding: 5px 8px;
  /* border-radius: 0 4px 4px 0; */
  font-weight: 300;
}
.red {
  background-color: #ed5565;
}
.orange {
  background-color: #f8ac59;
}
.green {
  background-color: #16a085;
}
.gray {
  background-color: #535c68;
}

.alt {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

p.background {
  position: relative;
  z-index: 1;
}
p.background:before {
  border-top: 1px solid #ecf0f1;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
p.background span {
  background: transparent;
  padding: 0 15px;
}
p.double:before {
  border-top: none;
}
p.double:after {
  border-bottom: 1px solid blue;
  -webkit-box-shadow: 0 1px 0 0 red;
  -moz-box-shadow: 0 1px 0 0 red;
  box-shadow: 0 1px 0 0 red;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  width: 95%;
  z-index: -1;
}
p.no-background {
  position: relative;
  overflow: hidden;
}
p.no-background span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
}
p.no-background span:before,
p.no-background span:after {
  content: "";
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid red;
}
p.no-background span:before {
  right: 100%;
}
p.no-background span:after {
  left: 100%;
}
p.no-span {
  display: table;
  white-space: nowrap;
}
p.no-span:before,
p.no-span:after {
  border-top: 1px solid green;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}
p.no-span:before {
  right: 1.5%;
}
p.no-span:after {
  left: 1.5%;
}
.info {
  float: left;
  margin-top: 8px;
}
