.imp-wrap {
  max-width: none !important;
}

.main-panel,
.imp-wrap {
  width: 100% !important;
}

.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
}

.form-control {
  height: 45px;
}

.card-wizard .card-header {
  padding-bottom: 15px;
}

.bootstrap-select .dropdown-menu.inner li a,
.dropdown-menu .dropdown-item {
  line-height: 20px;
}

.login-page .card-login .logo-container {
  width: 200px;
}

#exFullscreen:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

#exFullscreen:-moz-full-screen {
  width: 100%;
  height: 100%;
}

#exFullscreen:-webkit-full-screen > #mapplic {
  width: 100%;
  height: 100% !important;
}

.filter-option-inner-inner {
  line-height: 25px;
}

.card-tasks .card-body .table > tbody > tr > td {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.dataTables_wrapper div.dataTables_filter input {
  min-width: 250px;
  height: 40px;
}

div.dataTables_wrapper div.dataTables_length select {
  height: 40px;
}

.form-check-radio .form-check-sign::before,
.form-check-radio .form-check-sign::after {
  width: 22px;
  height: 22px;
  border: 3px solid #afaeae;
}

.form-check-radio input[type=radio]:checked + .form-check-sign::after {
  width: 10px;
  height: 10px;
  background-color: #d54e21;
  border-color: #d54e21;
  top: 9px;
  left: 9px;
  opacity: 1;
}

.form-check .form-check-sign:after,
.form-check .form-check-sign:before {
  border: 3px solid #e3e3e3;
}

.form-check .form-check-sign:after {
  font-weight: bold;
  color: #d54e21;
}
.login-page .card-login .logo-container img {
  margin-top: 90% !important;
}

/* loading */
.loading {
  background: #7f8c8d;
  color: #eaf7ff;
  font-size: 30px;
  position: fixed;
  z-index: 99999;
  height: 100vh;
  width: 100%;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -40px;
}
.wrapcus {
  position: relative;
  text-align: center;
  text-shadow: 0 0 6px #bce4ff;
  height: 20px;
  width: 300px;
}
.wrapcus span {
  display: block;
  text-transform: uppercase;
  position: absolute;
  right: 30px;
  height: 20px;
  width: 300px;
  line-height: 20px;
}
.wrapcus span.titlecus {
  -moz-animation: title 2.5s linear infinite;
  -webkit-animation: title 2.5s linear infinite;
  animation: title 2.5s linear infinite;
}
.wrapcus span.textcus {
  -moz-animation: title 2.5s linear 1.25s infinite;
  -webkit-animation: title 2.5s linear 1.25s infinite;
  animation: title 2.5s linear 1.25s infinite;
  opacity: 0;
}
.wrapcus span:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -21px;
  height: 20px;
  width: 16px;
  background: #eaf7ff;
  -moz-box-shadow: 0 0 15px #bce4ff;
  -webkit-box-shadow: 0 0 15px #bce4ff;
  box-shadow: 0 0 15px #bce4ff;
  -moz-animation: blink 2.5s infinite;
  -webkit-animation: blink 2.5s infinite;
  animation: blink 2.5s infinite;
}
@-webkit-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }
  48% {
    opacity: 0;
    right: 130px;
  }
  52% {
    opacity: 1;
    right: 30px;
  }
  70% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 30px;
  }
}
@-moz-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }
  48% {
    opacity: 0;
    right: 130px;
  }
  52% {
    opacity: 1;
    right: 30px;
  }
  70% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 30px;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bg {
  0% {
    background-color: #306f99;
  }
  50% {
    background-color: #19470f;
  }
  90% {
    background-color: #734a10;
  }
}
@-moz-keyframes bg {
  0% {
    background-color: #306f99;
  }
  50% {
    background-color: #19470f;
  }
  90% {
    background-color: #734a10;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -21px;
  }
  45% {
    opacity: 1;
    right: 80px;
  }
  50% {
    opacity: 0;
    right: -21px;
  }
  51% {
    right: -21px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -21px;
  }
  95% {
    opacity: 1;
    right: 80px;
  }
  96% {
    right: -21px;
  }
  100% {
    opacity: 0;
    right: -21px;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -21px;
  }
  45% {
    opacity: 1;
    right: 80px;
  }
  50% {
    opacity: 0;
    right: -21px;
  }
  51% {
    right: -21px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -21px;
  }
  95% {
    opacity: 1;
    right: 80px;
  }
  96% {
    right: -21px;
  }
  100% {
    opacity: 0;
    right: -21px;
  }
}



